{% extends "base.html" %}

    <!--  {% load load_comments %} -->

     

{% block content %}

   <!--   <h1>{{ title }}</h1> -->

<!-- {{ request.user }}

{{ request.path }}

{{ user }}

{{ user.is_authenticated }} -->

    {% for a in blog_list %}
         {% include 'blog/list_inline.html' with blog_post=a truncate=True detail=False %}        
    {% endfor %}

    <!-- <h1>{{ request.build_absolute_uri }}</h1> -->

   <!--  {% load_comments request.build_absolute_uri %} -->


    <div class='load-comments' style ='margin:20px auto' data-url='{{ request.build_absolute_uri }}'></div>


{% endblock %}