{% extends "base.html" %}

{% block head_title %}About Us{% endblock %}

{% block content %}
<div class="card text-center">
  <div class="card-header">
    <h2><b>	MyJourney </b></h2>
  </div>
  <div class="card-body" style="background-color: #DAF7A6;">
    <h5 class="card-title">Special Experience</h5>
    <p class="card-text">Some moments you experience while travelling end up completely blowing you away, in ways you'd never have expected. They stay with you forever, and years later you still smile at the fond memories.</p>
  </div>
</div>
{% endblock %}