{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>{% block head_title %}{% endblock %} My Journey</title>

    <!-- <link rel='stylesheet' href='{% static "comments/css/hui.comments.css" %}' /> -->
     <style>
    .hui-media {
        border-bottom: 1px solid #ccc;
    }
    .comment-form{
      margin-top: 30px;
    }
    .hui-user-image{
      max-width: 64px;
      max-height: 64px;
      width: 64px;
    }

    </style>



  </head>
  <body>
  
  <div id="fb-root col-12 col-md-10 mb-3 mx-auto"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0"></script>


    {% include 'navbar.html' %} <!-- include html fields -->



  	<div class='container-fluid'>

  		   {% block content %}   

         {% endblock %}
  	</div>



    {% include 'js.html' %}

    <script src='{% static "comments/js/hui.safeajax.js" %}'></script>
    <script src='{% static "comments/js/hui.comments.js" %}?v=135'></script>


     <script>
       $(document).ready(function(){
        {% block jquery %}{% endblock %}
       })
    </script>

    <script
  src="http://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>


            <div class="copy">
                &copy; HuiZhang2020
            </div>
      
        <p><a href="#top">Go To The Top of the page</a></p>
        <script>
            function openTab(tabName) 
            {
                var i, x;
                x = document.getElementsByClassName("containerTab");
                for (i = 0; i < x.length; i++) 
                {
                    x[i].style.display = "none";
                }
                document.getElementById(tabName).style.display = "block";
            }
        </script>  
   

    
  </body>
</html>