{% extends "base.html" %}

{% block content %}


<div  style="width:500px; margin:50px auto;" class="card border-primary mb-3" style="max-width: 25rem;">
  <div class="card-header bg-info border-primary text-dark">
    {% if title %}
    <h1>{{ title }}</h1>
    {% endif%}

  </div>
  <div class="card-body text-dark bg-info">

    

  	<form method='POST' action='.' enctype='multipart/form-data'> {% csrf_token %}
	{{ form.as_p }}
	<button type="submit" class="btn btn-primary">Send</button>
   </form>
    
  </div>
</div>


{% endblock %}