{% extends "base.html" %}

    <!--  {% load load_comments %} -->

     

{% block content %}

   <!--   <h1>{{ title }}</h1> -->

<!-- {{ request.user }}

{{ request.path }}

{{ user }}

{{ user.is_authenticated }} -->



  <div class="card text-blue mb-3" style="background-color: #DAF7A6;" >
  <div class="card-header"><h2><b>My Blogs</b></h2></div>
  <div class="card-body">
         {% for a in blog_list %}
         {% include 'blog/list_inline.html' with blog_post=a truncate=True detail=False %}        
         {% endfor %}
       </div>
  </div>
</div>





    <!-- <h1>{{ request.build_absolute_uri }}</h1> -->

   <!--  {% load_comments request.build_absolute_uri %} -->

<!-- * comment * -->

    <!-- <div class='load-comments' style ='margin:20px auto' data-url='{{ request.build_absolute_uri }}'></div> -->


{% endblock %}