{% extends "base.html" %}

{% block content %}

<!-- <h1>{{ object.title }}</h1>
<p>{{ object.content }}</p> -->
<div class='col-12 col-md-10 mb-3 mx-auto'>

{% include 'blog/list_inline.html' with  blog_post=object  detail=True %}

{% if request.user.is_authenticated %}
    {% if request.user.is_staff %}
    <div class='col-12'>
        <a class="btn btn-primary" href="{{ object.get_edit_url }}">Edit</a>
        <a class="btn btn-primary" href="{{ object.get_delete_url }}">Delete</a>
    </div> 
    {% endif %}
{% endif %}

<div align="center"  class='row'>
	<div class='col-sm-12'>
	<p>
	<div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
    </p>

    <p>
	<div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-width="" data-numposts="5"></div>
    </p>
	</div>
</div>




<!-- <div>
	
	<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
	Facebook
	</a>

	<a href="https://twitter.com/home?status=I'm%20going%20to%20learn%20to%20Code...%20Come%20build%20an%20web%20apsp%20with%20me!%20%23CFE%20and%20@justinmitchel%20{{ request.build_absolute_uri }}">
	Twitter
	</a>

	<a href="https://www.linkedin.com/shareArticle?mini=true&url=http://swiftforentrepreneurs.com/&title=Be%20first%20%7C%20Join%20Swift%20for%20Entrepreneurs&summary=Swift%20for%20Entrepreneurs%20is%20a%20project-based%20programming%20course%20for%20non-technical%20founders.%20We'll%20learn%20how%20to%20build%20iOS%20apps%20from%20scratch%20using%20Apple's%20new%20programming%20language:%20Swift.%20Be%20first%20and%20learn%20with%20me!&source={{ request.build_absolute_uri }}">
	Linkedin
	</a>
</div> -->


</div>

 
{% endblock %}


