
 <div style ='margin:20px auto' class='row col-12 col-md-10 mb-3 mx-auto'>
   <div class='card {% if not blog_post.publish_date %} bg-warning text-light {% endif %}'>
 	<div class='card-body'>
 		{% if blog_post.image %}
 		   <!--  <a href="{{ blog_post.get_absolute_url }}"> -->
 		   <img src="{{ blog_post.image.url }}" class="card-img-top" width="350" height="550"/>
 		{% endif %}

 	

 		<h2 class='card-title'>{{ blog_post.title }}</h2>
 		<p class='card-text'>
 			<small class='text-muted'>{{ blog_post.publish_date }}</small>
            {% if truncate %}
 			   {{ blog_post.content|linebreaks|truncatewords:50}}
 			{% else %}
 			    {{ blog_post.content|linebreaks }}
 			{% endif %}

 		</p>
 		 <!-- <li><a href='{{ blog_post.get_absolute_url }}'>{{ blog_post.title }}</a></li> -->
 		 {% if not detail %}
 		    {% if not blog_post.publish_date %} Draft {% endif %}
 		 <a class="btn btn-primary" href="{{ blog_post.get_absolute_url }}">Show Details</a>
 		 {% endif %}







 	
 	</div>
   </div>
 </div>