 <div class="slideshow-container">
        <!-- The list of slides, as the list of captions will be defined by JavaScript  -->
        <div class="mySlides fade">
            <div class="numbertext"></div>
            <img style="width:100%">
            <div class="text"></div>
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>  <!-- The "<" character -->
        <a class="next" onclick="plusSlides(1)">&#10095;</a>   <!-- The ">" character -->
    </div>
    <br>
    <div class="dots-container">
        <!-- The span elements for the dots will be dynanmically added to DOM by JavaScript -->
        <!-- The number of dots will depend on the number of slides -->
    </div>

    <script>
        var slideArray = ["Background0.jpeg","Background1.jpeg", "Background2.jpeg", "Background3.jpeg"]
        var captionArray = ["Caption One", "Caption Two", "Caption Three"]

        setupDots();

        var slideIndex = 1;     // slides indexed from 1
        showSlides(slideIndex);

        var timeout = null;
        timeout=setTimeout(automaticChange, 7000);  // To avoid automatic slide change, comment this line

        function setupDots() {
            var i;
            var dotSet = document.getElementsByClassName("dots-container")[0];          
            for (i = 0; i < slideArray.length; i++) {
                var dot = document.createElement('span'); // create a new element of type (tag) span
                dot.className = "dot";                    // give it class="dot"
                dot.index = i + 1;                        // give it an attribute index to remember its index
                dot.onclick = function () { currentSlide(this.index) };  // give it the onclick event  
                dotSet.appendChild(dot);                  // add it as a child to to div "dots-container"
            }
        }

        function plusSlides(n) {
            slideIndex += n;
            showSlides(slideIndex);
            /* if automaticChange is on, reset the timer */
            if (timeout !== null) {
                clearTimeout(timeout);
                timeout = setTimeout(automaticChange, 7000);
            }
        }

        function currentSlide(n) {
            slideIndex = n
            showSlides(slideIndex);
            /* if automaticChange is on, reset the timer */
            if (timeout !== null) {
                clearTimeout(timeout);
                timeout = setTimeout(automaticChange, 7000); 
            }
        }

        function showSlides(n) {
            var i;
            var slide = document.getElementsByClassName("mySlides")[0];
            var numbertext = document.getElementsByClassName("numbertext")[0];
            var text = document.getElementsByClassName("text")[0];
            var dots = document.getElementsByClassName("dot");             

            if (n > slideArray.length) { slideIndex = 1 }   // if beyond the last one, go to the first one
            if (n < 1) { slideIndex = slideArray.length }   // if before the first one, go to the last one

            slide.style.display = "none";
 
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");               
            }           
            slide.getElementsByTagName("img")[0].src = slideArray[slideIndex - 1];
            numbertext.innerHTML = slideIndex + " / " + slideArray.length;
            text.innerHTML = captionArray[slideIndex - 1];
            slide.style.display = "block";
            dots[slideIndex - 1].className += " active";
        }

        function automaticChange() {
            slideIndex++;
            showSlides(slideIndex);
            timeout=setTimeout(automaticChange, 7000);   // call again automaticChange() after 7s
        }
    </script>
